  <div class="container">
    <h1 class="text-center my-5 text-warning">Nos sorties</h1>
      <% if user_signed_in? && current_user.admin? %>
        <div class="d-flex justify-content-end mb-3">
          <%= link_to "➕ Ajouter un évènement", new_event_path,
                      class: "btn btn-warning" %>
        </div>
      <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <div class="events-container my-5">
      <div class="events-column past">
        <h2 class= "text-warning">Événements passés</h2>
        <% if @past_events.any? %>
          <% @past_events.each do |event| %>
            <%= render "layouts/event-card", event: event %>
          <% end %>
        <% else %>
          <p class="text-center">Aucun événement passé.</p>
        <% end %>
      </div>

      <div class="events-column upcoming">
        <h2 class= "text-warning">Événements à venir</h2>
        <% if @upcoming_events.any? %>
          <% @upcoming_events.each do |event| %>
            <%= render "layouts/event-card", event: event %>
          <% end %>
        <% else %>
          <p class="text-center">Aucun événement à venir.</p>
        <% end %>
      </div>
    </div>
  </div>
