
  <div class="container about-us py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 about-box">
        <h1 class="text-center text-warning mb-4">Qui sommes-nous ?</h1>
        <p class="lead text-center mb-4">Le clan Dragon Krayt A’Den est né d'une passion partagée pour la culture
        pop et l’art du cosplay. Depuis sa création, notre groupe de cosplayers s’est
        étoffé autour d’un but commun : rassembler des amateurs de tous horizons, fédérés
        par l’envie de donner vie à leurs univers et personnages préférés.</p>

        <h3 class="text-center text-warning my-4"> Notre vision du cosplay : un univers sans frontières</h3>

        <p class="text-center mb-4">
        Multiplicité des univers : de l’univers médiéval-fantastique aux sagas de science-fiction, en passant par les mangas, les comics et le steampunk.
        Ouverture créative : encourager chaque membre à explorer des mondes différents, à mélanger les styles et à proposer des créations hybrides.
        Apprentissage mutuel : ateliers (à venir...) de couture, maquillage, props, et partage d’astuces quel que soit le thème.
        Ce regard élargi sur le cosplay permet à chacun de s’enrichir des idées des autres, de développer son savoir-faire et de repousser les limites de son imagination.</p>

        <h3 class="text-center text-warning my-4"> Nos activités et réalisations</h3>

        <p class="text-center mb-4">
        Présence en conventions : stands et défilés lors des salons régionaux et nationaux (TGS, Bordeaux GeekFest, Geek Days de Villeneuve-sur-Lot,...), où nous présentons des groupes de costumes coordonnés.
        Projets photos et vidéos : shootings thématiques, mini-films amateurs (à venir...), collaborations avec des photographes locaux.</p>

        <h3 class="text-center text-warning my-4"> L’esprit « petite famille » </h3>

        <p class="text-center mb-4">
        Au fil des rencontres et des projets, nous avons construit bien plus qu’un simple clan :
        Solidarité : on se prête du matériel, on s’entraide pour les retouches de dernière minute et l'élaboration de nos cosplays.
        Cohésion : repas partagés, sorties improvisées… autant de moments qui tissent des liens forts.
        Bienveillance : chacun, du débutant au plus expérimenté, trouve sa place, reçoit des encouragements et peut évoluer à son rythme dans un respect mutuel.
        Cette ambiance chaleureuse et conviviale fait de Dragon Krayt A’Den une vraie « petite famille », où la passion commune du cosplay crée des amitiés durables.</p>

        <h3 class="text-center text-warning my-4"> Pourquoi nous rejoindre ? </h3>

        <p class="text-center mb-5">
        Pour développer vos compétences dans un cadre ajusté à tous les niveaux.
        Pour explorer tous les univers sans être limité à un seul fandom.
        Pour partager des moments forts et nouer des amitiés autour d’une passion créative.
        Rejoindre Dragon Krayt A’Den, c’est intégrer un collectif ouvert, solidaire, respectueux et  créatif, où l’art du cosplay devient un véritable moteur de cohésion et d’épanouissement personnel.</p>

        <h3 class="text-center text-warning my-4"><strong>Dragon Krayt A’Den : quand le cosplay dépasse le costume et devient une aventure humaine.</strong></h3>
          <div class="mythausaure-img">
            <%= image_tag "https://img.icons8.com/windows/32/mandalorian.png", alt: " Mythausaure icon", class: "myth-icon" %>
          </div>
      </div>
    </div>
  </div>
