<div class="container">
<div style="text-align: center">
  <%= link_to index_path do %>
<%= image_tag "logo_dragon.png", alt: "Bienvenue sur notre site", class: "home-image" %>
  <% end %>
</div>

</div>
