<div class="container d-flex flex-column align-items-center text-center home-container" style="min-height: 80vh;">
  <%= image_tag "logo_dragon.png",
        alt: "Bienvenue sur notre site",
        class: "home-logo img-fluid mb-4" %>

  <div class="fade-in">
    <h1 class="welcome-title">Bienvenue sur le site Dragon Krayt A'den</h1>
  </div>
</div>
