.carousel-item {
  height: 700px !important;
}

.carousel-item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: center !important;
  background-color: rgba(0, 0, 0, 0.0);

}
.carousel-thumbnails img {
  width: 64px;
  max-width: 22vw;
  height: 48px;
  object-fit: cover;
  cursor: pointer;
  margin: 2px;
  transition: border 0.2s;
}

@media (max-width: 575px) {
  .carousel-thumbnails img {
    width: 44px;
    height: 32px;
    max-width: 30vw;
  }
}
