.carousel-item img {
  object-fit: cover;
  width: 100%;

}
.carousel-thumbnails img {
  width: 64px;
  max-width: 22vw;
  height: 48px;
  object-fit: cover;
  cursor: pointer;
  margin: 2px;
  transition: border 0.2s;
}

@media (max-width: 575px) {
  .carousel-thumbnails img {
    width: 44px;
    height: 32px;
    max-width: 30vw;
  }
}
