.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: white !important;
  text-decoration: none;
  font-size: 2rem !important;
  transition: color 0.3s ease !important;

  &:hover {
    color: #00bfff !important;
  }
}
