.members-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 80px;
  justify-content: space-evenly;
}
.member-card {
  width: 200px;
  text-align: center;
  color: #CEB1B1;
}
.member-card h2 {
  color: whitesmoke;
  text-align: center;
}
.member-card img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  height: 250px;
}
.member-card:hover {
  transform: scale(1.1);
  animation-name: on-hover;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes on-hover {
  0% {
    height: auto;
    opacity: 0.7;
  }
 100% {
    width: 200px;
    height: auto;
  }
}
.member-card a{
  color: #CEB1B1;
  text-decoration: none;
}
.card-title {
  color: #ffc107;
}
