.events-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: space-evenly;
}
.event-card {
  max-width: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

}

.event-card img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}
h1 {
  text-align: center;
}
