.members-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 80px;
  justify-content: space-evenly;
}
.members-list h1 {
  padding-top: 50px;
  color: #CEB1B1;
  display: flex;
}
.member-card {
  width: 200px;
  text-align: center;
  color: #CEB1B1;
}
.member-card img {
  width: 100%;
  border-radius: 10px;
}
.member-card a{
  color: #CEB1B1;
  text-decoration: none;
}
.id-card {
  border: solid rgb(4, 4, 4) 10px;
  width: 800px;
  text-align: center;

}
.id-card img {
  width: 100%;
  border-radius: 30%;

}
