<p>Salutations <%= @resource.email %>!</p>

<p>Un changement de mot de passe a été demandé. Vous pourrez le modifier en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'en avez pas fait la demande, merci d'ignorer ce mail ou de contacter l'administrateur.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliquer sur le lien ci-dessus.</p>
