<header class="navbar">
    <div class="container-nav">
      <ul class="nav">
      <li><%= link_to "Accueil", home_path %></li>
      <li><%= link_to "Membres", members_path %></li>
      <li><%= link_to "Evènements", events_path %></li>
      </ul>
    </div>
</header>
