
<h1 > Nos membres </h1>
<div class="members-list">
  <% @members.each do |member| %>
    <div class="member-card">
      <img src="<%= asset_path(member.photos) %>" alt="<%= member.pseudo %>">
      <h2><%= member.pseudo %></h2>
      <p><%= member.presentation %></p>
    </div>
  <% end %>
</div>
