
 <h1 class= "text-warning" > Les membres </h1>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "➕ Ajouter un membre", new_member_path, class: "btn btn-primary" %>
<% end %>

<div class="members-list">
  <% @members.each do |member| %>
    <div class="member-card">
      <%= link_to member_path(member) do %>
        <% if member.photos.attached? %>
          <%= image_tag url_for(member.photos.first), class: "w-full h-48 object-cover", alt: member.pseudo, loading: "lazy" %>
        <% end %>
      <div class="p-4">
        <h2><%= member.pseudo %></h2>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
