
 <h1 > Nos membres </h1>

<div class="members-list">
  <% @members.each do |member| %>
    <div class="member-card">
      <%= link_to member_path(member) do %>
        <% if member.photos.attached? %>
          <%= image_tag url_for(member.photos.first), class: "w-full h-48 object-cover", alt: member.pseudo, loading: "lazy" %>
        <% end %>
      <% end %>
      <div class="p-4">
        <h2><%= member.pseudo %></h2>
      </div>
    </div>
  <% end %>
</div>
